@charset "UTF-8";
/**
 * @author: 卓文理
 * @email : 531840344@qq.com
 */
#data {
  float: left;
  margin-left: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: red; }
  #data th {
    text-align: center;
    font-weight: bold; }
  #data td, #data th {
    padding: 2px; }
  #data .item {
    display: inline-block; }
